# Mari Mengenal Python

In [2]:
print("Hello World")

Hello World

In [3]:
print("Hello World")
print("Riset Bahasa Python")

Hello World
Riset Bahasa Python

## Struktur Program Python - Part 1

In [4]:
# Statement
print("Belajar python menyenangkan")
print("Hello Dunia")
print("Hello World!")

# Variable & Literals
bilangan1 = 5
bilangan2 = 10
kalimat1 = "Belajar Bahasa Python"

# Operator
print(bilangan1 + bilangan2)

Belajar python menyenangkan
Hello Dunia
Hello World!
15

In [5]:
bilangan1 = 20
bilangan2 = 10
print(bilangan1 - bilangan2)

10

In [6]:
harga_asli = 20000
potongan = 2000
harga_setelah_potongan = harga_asli - potongan
harga_final = harga_setelah_potongan * 1.1
print(harga_final)

19800.0

## Sequence Type -> List [Mutable]

In [8]:
contoh_list = [1, "dua", 3, 4.0, 5]
print(contoh_list[0])
print(contoh_list[3])
contoh_list = [1, "dua", 3, 4.0, 5]
contoh_list[3] = "empat"
print(contoh_list)

1
4.0
[1, 'dua', 3, 'empat', 5]

## Sequence Type -> Tuple (Imutable)

In [9]:
contoh_tuple = ("Januari", "Februari", "Maret", "April")
print(contoh_tuple[0])
contoh_tuple = ("Januari", "Februari", "Maret", "April")
contoh_tuple[0] ="Desember" # Error karena Imutable

Januari

TypeError: 'tuple' object does not support item assignment

In [2]:
contoh_tuple = ("Januari", "Februari", "Maret", "April")
print(contoh_tuple[0])
contoh_tuple = ("Januari", "Februari", "Maret", "April", "April")
print(contoh_tuple)
# contoh_tuple[0] ="Desember" # Error karena Imutable

Januari
('Januari', 'Februari', 'Maret', 'April', 'April')

## Set Type -> Data harus Unique & Tidak memperhatikan urutan

In [8]:
contoh_list = ["Dewi", "Budi", "Cici", "Linda", "Cici"]
print(contoh_list)
contoh_set = {"Dewi", "Budi", "Cici", "Linda", "Cici"}
print(contoh_set)
contoh_frozen_set = ({"Dewi", "Budi", "Cici", "Linda", "Cici"})
print(contoh_frozen_set)

['Dewi', 'Budi', 'Cici', 'Linda', 'Cici']
{'Cici', 'Linda', 'Dewi', 'Budi'}
{'Cici', 'Linda', 'Dewi', 'Budi'}

# Mapping Type

In [12]:
person = {"nama" : "Jhon Doe",
          "pekerjaan" : "Programmer"}
print(person)
print(person["nama"])
print(person["pekerjaan"])

{'nama': 'Jhon Doe', 'pekerjaan': 'Programmer'}
Jhon Doe
Programmer

## Tugas Praktek

In [15]:
sepatu = {"nama" : "Sepatu Niko",
          "harga" : 150000,
          "diskon" : 3000}
baju = {"nama" : "Baju Unikloh",
        "harga" : 80000,
        "diskon" : 8000}
celana = {"nama" : "Celana Lepis",
         "harga" : 200000,
         "diskon" : 60000}
print(sepatu)
print(baju)
print(celana)

{'nama': 'Sepatu Niko', 'harga': 150000, 'diskon': 3000}
{'nama': 'Baju Unikloh', 'harga': 80000, 'diskon': 8000}
{'nama': 'Celana Lepis', 'harga': 200000, 'diskon': 60000}

In [17]:
sepatu = {"nama" : "Sepatu Niko",
          "harga" : 150000,
          "diskon" : 3000}
baju = {"nama" : "Baju Unikloh",
        "harga" : 80000,
        "diskon" : 8000}
celana = {"nama" : "Celana Lepis",
         "harga" : 200000,
         "diskon" : 60000}
daftar_belanja = [sepatu, baju, celana]
print(daftar_belanja)

[{'nama': 'Sepatu Niko', 'harga': 150000, 'diskon': 3000}, {'nama': 'Baju Unikloh', 'harga': 80000, 'diskon': 8000}, {'nama': 'Celana Lepis', 'harga': 200000, 'diskon': 60000}]

In [20]:
# 1. Data yang dinyatakan dalam bentuk dictionary
sepatu = {"nama" : "Sepatu Niko",
          "harga" : 150000,
          "diskon" : 3000}
baju = {"nama" : "Baju Unikloh",
        "harga" : 80000,
        "diskon" : 8000}
celana = {"nama" : "Celana Lepis",
         "harga" : 200000,
         "diskon" : 60000}
# 2. Hitung harga masing-masing data setelah dikurangi diskon
harga_sepatu = sepatu["harga"] - sepatu["diskon"]
harga_baju = baju["harga"] - baju["diskon"]
harga_celana = celana["harga"] - celana["diskon"]
# 3. Hitung harga total 
harga_total = harga_sepatu + harga_baju + harga_celana
# 4. Hitung harga kena pajak
total_pajak = harga_total * 0.1
# 5. Cetak harga_total + total_pajak
print(harga_total + total_pajak)

394900.0

# Python Operator

## Presedensi

In [23]:
# Kode Awal
total_harga = 150000
potongan_harga = 0.3
pajak = 0.1
harga_bayar = 1 - 0.3
harga_bayar *= total_harga
pajak_bayar = harga_bayar * pajak
harga_bayar += pajak_bayar
print("Kode Awal Harga Bayar : \n")
print(harga_bayar)

# Presedensi
total_harga = 150000
potongan_harga = 0.3
pajak = 0.1
harga_bayar = (1 - 0.3) * total_harga
harga_bayar += harga_bayar*pajak
print("Presedensi Kode Harga Bayar : \n")
print(harga_bayar)

Kode Awal Harga Bayar :

115500.0
Presedensi Kode Harga Bayar :

115500.0

## Tugas Praktek

In [25]:
sepatu = {"nama" : "Sepatu Niko",
          "harga" : 150000,
          "diskon" : 3000}
baju = {"nama" : "Baju Unikloh",
        "harga" : 80000,
        "diskon" : 8000}
celana = {"nama" : "Celana Lepis",
         "harga" : 200000,
         "diskon" : 60000}
harga_sepatu = sepatu["harga"] - sepatu["diskon"]
harga_baju = baju["harga"] - baju["diskon"]
harga_celana = celana["harga"] - celana["diskon"]
harga_total = (harga_sepatu + harga_baju + harga_celana) * 1.1
print(harga_total)

394900.00000000006

# Python Conditioning & Looping

In [28]:
# Statement 
x = 4
if x % 2 == 0:
    print("x habis dibagi  2")

x = 7
if x % 2 == 0:
    print("x habis dibagi 2")
elif x % 3 == 0:
    print("x habis dibagi 3")
elif x % 5 == 0:
    print("x habis dibagi 5")
else:
    print("x tidak habis dibagi 2, 3 ataupun 5")

x habis dibagi  2
x tidak habis dibagi 2, 3 ataupun 5

In [30]:
jam = 13

if jam >= 5 and jam < 12:
    print("Selamat Pagi")
elif jam >= 12 and jam < 17:
    print("Selamat Siang")
elif jam >= 17 and jam < 19:
    print("Selamat Sore")
else:
    print("Selamat Malan")

Selamat Siang

## Tugas Praktek

In [33]:
tagihan_ke = "Mr. Yoyo"
warehousing = {"harga_harian" : 1000000,
              "total_hari" : 15}
cleansing = {"harga_harian" : 1500000,
              "total_hari" : 10}
integration = {"harga_harian" : 2000000,
                "total_hari" : 15}
transformation = {"harga_harian" : 2500000,
                "total_hari" : 10}

sub_warehousing = warehousing["harga_harian"] * warehousing["total_hari"]
sub_cleansing = cleansing["harga_harian"] * cleansing["total_hari"]
sub_integration = integration["harga_harian"] * integration["total_hari"]
sub_transformation = transformation["harga_harian"] * transformation["total_hari"]

total_harga = sub_warehousing + sub_cleansing + sub_integration + sub_transformation
print("Tagihan kepada:") 
print(tagihan_ke)
print("Selamat pagi, anda harus membayar tagihan sebesar:") 
print(total_harga)

Tagihan kepada:
Mr. Yoyo
Selamat pagi, anda harus membayar tagihan sebesar:
85000000

In [ ]:
jam = 17
tagihan_ke = "Mr. Yoyo"
warehousing = {"harga_harian" : 1000000,
              "total_hari" : 15}
cleansing = {"harga_harian" : 1500000,
              "total_hari" : 10}
integration = {"harga_harian" : 2000000,
                "total_hari" : 15}
transformation = {"harga_harian" : 2500000,
                "total_hari" : 10}

sub_warehousing = warehousing["harga_harian"] * warehousing["total_hari"]
sub_cleansing = cleansing["harga_harian"] * cleansing["total_hari"]
sub_integration = integration["harga_harian"] * integration["total_hari"]
sub_transformation = transformation["harga_harian"] * transformation["total_hari"]

total_harga = sub_warehousing + sub_cleansing + sub_integration + sub_transformation
print("Tagihan kepada:") 
print(tagihan_ke)
if jam > 19:
    print("Selamat malam, anda harus membayar tagihan sebesar:")
elif jam > 17:
    print("Selamat sore, anda harus membayar tagihan sebesar:")
elif jam > 12:
    print("Selamat siang, anda harus membayar tagihan sebesar:")   
else:
    print("Selamat pagi, anda harus membayar tagihan sebesar:") 
print(total_harga)