# Mari Mengenal Python

In [28]:
print("Hello World")

Hello World

In [29]:
print("Hello World")
print("Riset Bahasa Python")

Hello World
Riset Bahasa Python

## Struktur Program Python - Part 1

In [30]:
# Statement
print("Belajar python menyenangkan")
print("Hello Dunia")
print("Hello World!")

# Variable & Literals
bilangan1 = 5
bilangan2 = 10
kalimat1 = "Belajar Bahasa Python"

# Operator
print(bilangan1 + bilangan2)

Belajar python menyenangkan
Hello Dunia
Hello World!
15

In [31]:
bilangan1 = 20
bilangan2 = 10
print(bilangan1 - bilangan2)

10

In [32]:
harga_asli = 20000
potongan = 2000
harga_setelah_potongan = harga_asli - potongan
harga_final = harga_setelah_potongan * 1.1
print(harga_final)

19800.0

## Sequence Type -> List [Mutable]

In [33]:
contoh_list = [1, "dua", 3, 4.0, 5]
print(contoh_list[0])
print(contoh_list[3])
contoh_list = [1, "dua", 3, 4.0, 5]
contoh_list[3] = "empat"
print(contoh_list)

1
4.0
[1, 'dua', 3, 'empat', 5]

## Sequence Type -> Tuple (Imutable)

In [34]:
contoh_tuple = ("Januari", "Februari", "Maret", "April")
print(contoh_tuple[0])
contoh_tuple = ("Januari", "Februari", "Maret", "April")
# contoh_tuple[0] ="Desember" # Error karena Imutable

Januari

In [35]:
contoh_tuple = ("Januari", "Februari", "Maret", "April")
print(contoh_tuple[0])
contoh_tuple = ("Januari", "Februari", "Maret", "April", "April")
print(contoh_tuple)
# contoh_tuple[0] ="Desember" # Error karena Imutable

Januari
('Januari', 'Februari', 'Maret', 'April', 'April')

## Set Type -> Data harus Unique & Tidak memperhatikan urutan

In [36]:
contoh_list = ["Dewi", "Budi", "Cici", "Linda", "Cici"]
print(contoh_list)
contoh_set = {"Dewi", "Budi", "Cici", "Linda", "Cici"}
print(contoh_set)
contoh_frozen_set = ({"Dewi", "Budi", "Cici", "Linda", "Cici"})
print(contoh_frozen_set)

['Dewi', 'Budi', 'Cici', 'Linda', 'Cici']
{'Cici', 'Dewi', 'Linda', 'Budi'}
{'Cici', 'Dewi', 'Linda', 'Budi'}

# Mapping Type

In [37]:
person = {"nama" : "Jhon Doe",
          "pekerjaan" : "Programmer"}
print(person)
print(person["nama"])
print(person["pekerjaan"])

{'nama': 'Jhon Doe', 'pekerjaan': 'Programmer'}
Jhon Doe
Programmer

## Tugas Praktek

In [38]:
sepatu = {"nama" : "Sepatu Niko",
          "harga" : 150000,
          "diskon" : 3000}
baju = {"nama" : "Baju Unikloh",
        "harga" : 80000,
        "diskon" : 8000}
celana = {"nama" : "Celana Lepis",
         "harga" : 200000,
         "diskon" : 60000}
print(sepatu)
print(baju)
print(celana)

{'nama': 'Sepatu Niko', 'harga': 150000, 'diskon': 3000}
{'nama': 'Baju Unikloh', 'harga': 80000, 'diskon': 8000}
{'nama': 'Celana Lepis', 'harga': 200000, 'diskon': 60000}

In [39]:
sepatu = {"nama" : "Sepatu Niko",
          "harga" : 150000,
          "diskon" : 3000}
baju = {"nama" : "Baju Unikloh",
        "harga" : 80000,
        "diskon" : 8000}
celana = {"nama" : "Celana Lepis",
         "harga" : 200000,
         "diskon" : 60000}
daftar_belanja = [sepatu, baju, celana]
print(daftar_belanja)

[{'nama': 'Sepatu Niko', 'harga': 150000, 'diskon': 3000}, {'nama': 'Baju Unikloh', 'harga': 80000, 'diskon': 8000}, {'nama': 'Celana Lepis', 'harga': 200000, 'diskon': 60000}]

In [40]:
# 1. Data yang dinyatakan dalam bentuk dictionary
sepatu = {"nama" : "Sepatu Niko",
          "harga" : 150000,
          "diskon" : 3000}
baju = {"nama" : "Baju Unikloh",
        "harga" : 80000,
        "diskon" : 8000}
celana = {"nama" : "Celana Lepis",
         "harga" : 200000,
         "diskon" : 60000}
# 2. Hitung harga masing-masing data setelah dikurangi diskon
harga_sepatu = sepatu["harga"] - sepatu["diskon"]
harga_baju = baju["harga"] - baju["diskon"]
harga_celana = celana["harga"] - celana["diskon"]
# 3. Hitung harga total 
harga_total = harga_sepatu + harga_baju + harga_celana
# 4. Hitung harga kena pajak
total_pajak = harga_total * 0.1
# 5. Cetak harga_total + total_pajak
print(harga_total + total_pajak)

394900.0

# Python Operator

## Presedensi

In [41]:
# Kode Awal
total_harga = 150000
potongan_harga = 0.3
pajak = 0.1
harga_bayar = 1 - 0.3
harga_bayar *= total_harga
pajak_bayar = harga_bayar * pajak
harga_bayar += pajak_bayar
print("Kode Awal Harga Bayar : \n")
print(harga_bayar)

# Presedensi
total_harga = 150000
potongan_harga = 0.3
pajak = 0.1
harga_bayar = (1 - 0.3) * total_harga
harga_bayar += harga_bayar*pajak
print("Presedensi Kode Harga Bayar : \n")
print(harga_bayar)

Kode Awal Harga Bayar :

115500.0
Presedensi Kode Harga Bayar :

115500.0

## Tugas Praktek

In [42]:
sepatu = {"nama" : "Sepatu Niko",
          "harga" : 150000,
          "diskon" : 3000}
baju = {"nama" : "Baju Unikloh",
        "harga" : 80000,
        "diskon" : 8000}
celana = {"nama" : "Celana Lepis",
         "harga" : 200000,
         "diskon" : 60000}
harga_sepatu = sepatu["harga"] - sepatu["diskon"]
harga_baju = baju["harga"] - baju["diskon"]
harga_celana = celana["harga"] - celana["diskon"]
harga_total = (harga_sepatu + harga_baju + harga_celana) * 1.1
print(harga_total)

394900.00000000006

# Python Conditioning & Looping

In [43]:
# Statement 
x = 4
if x % 2 == 0:
    print("x habis dibagi  2")

x = 7
if x % 2 == 0:
    print("x habis dibagi 2")
elif x % 3 == 0:
    print("x habis dibagi 3")
elif x % 5 == 0:
    print("x habis dibagi 5")
else:
    print("x tidak habis dibagi 2, 3 ataupun 5")

x habis dibagi  2
x tidak habis dibagi 2, 3 ataupun 5

In [44]:
jam = 13

if jam >= 5 and jam < 12:
    print("Selamat Pagi")
elif jam >= 12 and jam < 17:
    print("Selamat Siang")
elif jam >= 17 and jam < 19:
    print("Selamat Sore")
else:
    print("Selamat Malan")

Selamat Siang

## Tugas Praktek

In [45]:
tagihan_ke = "Mr. Yoyo"
warehousing = {"harga_harian" : 1000000,
              "total_hari" : 15}
cleansing = {"harga_harian" : 1500000,
              "total_hari" : 10}
integration = {"harga_harian" : 2000000,
                "total_hari" : 15}
transformation = {"harga_harian" : 2500000,
                "total_hari" : 10}

sub_warehousing = warehousing["harga_harian"] * warehousing["total_hari"]
sub_cleansing = cleansing["harga_harian"] * cleansing["total_hari"]
sub_integration = integration["harga_harian"] * integration["total_hari"]
sub_transformation = transformation["harga_harian"] * transformation["total_hari"]

total_harga = sub_warehousing + sub_cleansing + sub_integration + sub_transformation
print("Tagihan kepada:") 
print(tagihan_ke)
print("Selamat pagi, anda harus membayar tagihan sebesar:") 
print(total_harga)

Tagihan kepada:
Mr. Yoyo
Selamat pagi, anda harus membayar tagihan sebesar:
85000000

In [46]:
jam = 17
tagihan_ke = "Mr. Yoyo"
warehousing = {"harga_harian" : 1000000,
              "total_hari" : 15}
cleansing = {"harga_harian" : 1500000,
              "total_hari" : 10}
integration = {"harga_harian" : 2000000,
                "total_hari" : 15}
transformation = {"harga_harian" : 2500000,
                "total_hari" : 10}

sub_warehousing = warehousing["harga_harian"] * warehousing["total_hari"]
sub_cleansing = cleansing["harga_harian"] * cleansing["total_hari"]
sub_integration = integration["harga_harian"] * integration["total_hari"]
sub_transformation = transformation["harga_harian"] * transformation["total_hari"]

total_harga = sub_warehousing + sub_cleansing + sub_integration + sub_transformation
print("Tagihan kepada:") 
print(tagihan_ke)
if jam > 19:
    print("Selamat malam, anda harus membayar tagihan sebesar:")
elif jam > 17:
    print("Selamat sore, anda harus membayar tagihan sebesar:")
elif jam > 12:
    print("Selamat siang, anda harus membayar tagihan sebesar:")   
else:
    print("Selamat pagi, anda harus membayar tagihan sebesar:") 
print(total_harga)

Tagihan kepada:
Mr. Yoyo
Selamat siang, anda harus membayar tagihan sebesar:
85000000

In [47]:
# Tagihan
tagihan = [50000, 75000, 12500, 300000, 200000]
# Tanpa menggunakan while loop
total_tagihan = tagihan[0] + tagihan[1] + tagihan[2] + tagihan[3] + tagihan[4]
print(total_tagihan)

# Menggunakan while loop
i = 0
jumlah_tagihan = len(tagihan)
total_tagihan = 0
while i < jumlah_tagihan:
    total_tagihan += tagihan[i]
    i += 1
print(total_tagihan)

637500
637500

In [48]:
tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
i = 0
jumlah_tagihan = len(tagihan)
total_tagihan = 0
while i < jumlah_tagihan:
    if tagihan[i] < 0:
        total_tagihan = -1
        print("Terdapat angka minus dalam tagihan, perhitungan dihentikan!")
        break
    total_tagihan += tagihan[i]
    i += 1
print(total_tagihan)

Terdapat angka minus dalam tagihan, perhitungan dihentikan!
-1

In [49]:
tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
i = 0
jumlah_tagihan = len(tagihan)
total_tagihan = 0
while i < jumlah_tagihan:
    if tagihan[i] < 0:
        i += 1
        continue
    total_tagihan += tagihan[i]
    i += 1
print(total_tagihan)

750000

In [50]:
list_tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
total_tagihan = 0
for tagihan in list_tagihan:
    total_tagihan += tagihan
print(total_tagihan)

550000

In [51]:
list_tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
total_tagihan = 0
for tagihan in list_tagihan:
    if tagihan < 0:
        print("Proses perhitungan dihentikan karena terdapat angka minus")
        break
    total_tagihan += tagihan
print(total_tagihan)

Proses perhitungan dihentikan karena terdapat angka minus
125000

In [52]:
list_daerah = ['Malang', 'Palembang', 'Medan']
list_buah = ['Apel', 'Duku', 'Jeruk']
for daerah in list_daerah:
    for buah in list_buah:
        print("nama %s : %s" %(buah, daerah))

nama Apel : Malang
nama Duku : Malang
nama Jeruk : Malang
nama Apel : Palembang
nama Duku : Palembang
nama Jeruk : Palembang
nama Apel : Medan
nama Duku : Medan
nama Jeruk : Medan

In [53]:
list_cash_flow = [
2500000, 5000000, -1000000, -2500000, 5000000, 10000000,
-5000000, 7500000, 10000000, -1500000, 25000000, -2500000
]

total_pemasukan = 0
total_pengeluaran = 0
for dana in list_cash_flow:
    if dana > 0:
        total_pemasukan += dana
    else:
        total_pengeluaran += dana
total_pengeluaran *= -1
print(total_pemasukan)
print(total_pengeluaran)

65000000
12500000

# Tugas

In [54]:
uang_jalan = 1500000
jumlah_hari = 31
list_plat_nomor = [8993, 2198, 2501, 2735, 3772, 4837, 9152]

kendaraan_genap = 0
kendaraan_ganjil = 0
for kendaraan in list_plat_nomor:
    if kendaraan % 2 == 0:
        kendaraan_genap += 1
    else:
        kendaraan_ganjil += 1
print(kendaraan_genap)
print(kendaraan_ganjil)

hari = 0
total_pengeluaran_ganjil = 0
total_pengeluaran_genap = 0
while hari < jumlah_hari:
    if hari % 2 == 0:
        total_pengeluaran_genap += (kendaraan_genap * uang_jalan)
    else:
        total_pengeluaran_ganjil += (kendaraan_ganjil * uang_jalan)
    hari += 1

total_pengeluaran = total_pengeluaran_genap + total_pengeluaran_ganjil
print(total_pengeluaran_genap)
print(total_pengeluaran_ganjil)
print(total_pengeluaran)

3
4
72000000
90000000
162000000